.cart_list {
    width: 25%;
    background: #f6f7f9;
    color: #000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border: 1px solid #000;
    border-radius: .5em;
    right: -100%;
    top: 0;
    height: 100vh;
    z-index: 10;
    &.active {
        right: 0;
    }
}