.HeaderOfPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1.5em;
    font-size: 20px;
    min-height: 100vh;
    background: #f6f7f9;
    .imageSlider {
        width: 300px;
        height: 300px;
        background-size: 100% 100%;
        animation: slider 20s backwards infinite;
        @keyframes slider {
            0% {
                background-image: url(watch-header-1.png);
            }
            25% {
                background-image: url(watch-header-2.png);
            }
            50% {
                background-image: url(watch-header-3.png);
            }
            75% {
                background-image: url(watch-header-1.png);
            }
            100% {
                background-image: url(watch-header-2.png);
            }
        }
    }
    h1 {
        font-weight: bold;
    }
    img {
        padding-top: 2em;
    }
    img:hover {
        transform: translate(-10px, -20px);
    }
    .price {
        display: flex;
        align-items: center;
        gap: 1em;
        h2 {
            font-weight: bold;
        }
        del {
            opacity: .5;
        }
    }
}
@media (max-width: 768px) {
    .HeaderOfPage {
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 30px;
    }
    .imageSlider {
        width: 100%;
        max-width: 500;
    }
}
@media (max-width: 970px) {
    .HeaderOfPage {
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 30px;
    }
    .imageSlider {
        width: 100%;
        max-width: 500;
        height: 100%;
    }
}