.RecentPosts {
    border: 1px solid #000;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    width: 100%;
}
span {
    color: orange;
    font-size: large;
    font-weight: bold;
}

.Posts:hover {
    cursor: pointer;
    color: blue;
}

@media (max-width: 768px) {
    .RecentPosts {
        padding: 1em;
        margin: .2em;
    }
}
@media (max-width: 970px) {
    .RecentPosts {
        padding: 1em;
        margin: .2em;
    }
}